@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --background: #242424;
    --colorTitle:  #fdd96d;
    --colorSubtitle: #FFE7A0;
    --textColor: #FFFFFF;
}

*{

    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;

}

body{
    
    background-color: var(--background);
    font-family: "Roboto", sans-serif;

}

h1{
    color: var(--colorTitle);
}
h2{
    font-size: 3rem;
    color: var(--colorSubtitle);
}


a{
    text-decoration: none;
    color: var(--textColor);
}
a:hover{
    color: var(--colorTitle);
    font-weight: bold;
    
}
